.contaiIcons img:hover {
    animation: rotateInfinitely 5s linear infinite;
    transform: rotate(360deg); 
}
@keyframes rotateInfinitely {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.IconReact{
    animation: rotateInfinitely 10s linear infinite;
    transform: rotate(360deg);
}
@keyframes rotateInfinitely {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} 
@media screen and (max-width:770px) {
    #InfoContainer{
        width: 100%;
        text-align: center;
    }
    .AstronautaMeditando,.PInfo,.astronauta{
        display: none;
    }
    .CampoMyPortif{
        display: inline!important;
        text-align: center;
        width: 100%;
    }
}
.navEdit{
    margin: 10px;
    padding: 7px 10px;
    border-radius: 10px;
    border: none;
}
.nav-pills .active{
    background: -webkit-linear-gradient(#460d60b0,#124886b1);
    color: rgb(250, 244, 235);
}
.campoIconstool img{
    opacity: 50%;
}
.importButtonPdf{
    background: -webkit-linear-gradient(#460d60b0,#124886b1);
}
.importButtonPdf:hover{
    background: -webkit-linear-gradient(#460d60dd,#124886e4);
}