.contaiIcons img:hover {
    animation: rotateInfinitely 5s linear infinite;
    transform: rotate(360deg); 
}
@keyframes rotateInfinitely {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.IconReact{
    animation: rotateInfinitely 10s linear infinite;
    transform: rotate(360deg);
}
@keyframes rotateInfinitely {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} 
@media screen and (max-width:770px) {
    .astronauta{
        display: none;
    }
    #InfoContainer{
        width: 100%;
        text-align: center;
    }
}